<div xmlns:th="http://www.thymeleaf.org">
	<span th:remove="tag" th:fragment="common-css" xmlns:th="http://www.thymeleaf.org">
		<link rel="stylesheet" type="text/css" href="//cdn.metafour.com/1.2.0/css/metafour-ui.css" th:href="@{${basic_cdn_path} + 'css/metafour-ui.css'}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}" />
		<link href="//cdn.metafour.com/1.2.7/img/favicon.ico" rel="shortcut icon" th:href="@{${basic_cdn_path} + 'img/favicon.ico'}"/>
	</span>

	<span th:remove="tag" th:fragment="common-js" xmlns:th="http://www.thymeleaf.org">
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.min.js" th:src="@{${basic_cdn_path} + 'js/jquery.min.js'}" type="text/javascript"></script>
		<script src="../../resources/js/initvars.js" th:src="@{/js/initvars.js}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery-ui.js" th:src="@{${basic_cdn_path} + 'js/jquery-ui.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/bootstrap.js" th:src="@{${basic_cdn_path} + 'js/bootstrap.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/wysihtml5-0.3.0.js" th:src="@{${basic_cdn_path} + 'js/wysihtml5.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/file-uploader.js" th:src="@{${basic_cdn_path} + 'js/file-uploader.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/bootstrap-datepicker.js" th:src="@{${basic_cdn_path} + 'js/bootstrap-datepicker.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/bootstrap-wysihtml5.js" th:src="@{${basic_cdn_path} + 'js/bootstrap-wysihtml5.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.validate.js" th:src="@{${basic_cdn_path} + 'js/jquery.validate.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/moment.js" th:src="@{${basic_cdn_path} + 'js/moment.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.multiselect.js" th:src="@{${basic_cdn_path} + 'js/jquery.multiselect.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.multiselect.filter.js" th:src="@{${basic_cdn_path} + 'js/jquery.multiselect.filter.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.scrollTo.js" th:src="@{${basic_cdn_path} + 'js/jquery.scrollTo.min.js'}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/jquery.dataTables.js" th:src="@{${basic_cdn_path} + 'js/jquery.dataTables.min.js'}" type="text/javascript"></script>
		<script src="../../resources/js/jquery.blockUI.js" th:src="@{/js/jquery.blockUI.js}" type="text/javascript"></script>
		<script src="http://cdn.metafour.com/1.2.0/js/metafour-ui.js" th:src="@{${basic_cdn_path} + 'js/metafour-ui.min.js'}" type="text/javascript"></script>
		<script src="../../resources/js/commons.js" th:src="@{/js/commons.js}" type="text/javascript"></script>
		<script src="../../resources/js/appboot.js" th:src="@{/js/appboot.js}" type="text/javascript"></script>
<!-- 		<script src="../../resources/js/appboot.js" th:src="@{/js/demo.js}" type="text/javascript"></script> -->
	</span>

	<div th:remove="tag" th:fragment="common-html">
		<input type="hidden" id="baseurl" th:value="@{'/'}"></input>
		<div class="modal nodisplay" id="modalcontainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
			<div class="modal-body"></div>
		</div>
		<span th:if="${messages ne null}" class="nodisplay messagetoshowonload" th:each="message : ${messages}" th:text="${message}"></span>
		<div id="block-ui" style="z-index: 2055">
			<div class="updateProgress"><img th:src="@{/img/ajax-loading.gif}" /></div>
			<div class="updateBackground"></div>
		</div>
	</div>
</div>
