<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title th:text="#{person.title}">Person</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	
	<body th:with="isNew=${#strings.isEmpty(person.id)}">
		<div id="headerbar" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<span class="brand" th:text="#{person.brand}"></span>

					<div class="nav-collapse collapse">
						<ul class="nav pull-right" th:if="${isNew}">
							<li><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.create}">Create</a></li>
						</ul>
						<ul class="nav pull-right" th:unless="${isNew}">
							<li><a class="editmode" id="addbutton" th:href="@{'/person'}" th:text="#{action.add}">Add</a></li>
							<li><a class="editmode" id="updatebutton" th:text="#{action.update}">Update</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.save}">Save</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton" id="headercancelbutton" th:text="#{action.cancel}">Cancel</a></li>
						</ul>
						<form id="searchform" class="navbar-search pull-right" method="get" th:action="@{'/person/'}">
							<input id="datasearchfield" class="typeahead search-query" type="text" placeholder="Search" data-provide="typeahead" th:attr="data-search-url=@{'/search/person/'}" />
							<input class="typeahead-val" type="hidden" name="code" value="" />
							<input class="typeahead-desc" type="hidden" value="" />
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="container" class="container">
			<header id="overview" class="subhead">
				<div class="subnav subnav-fixed" id="subnavscroll">
					<ul class="nav nav-pills">
					</ul>
				</div>
			</header>

			<form id="mainform" th:object="${person}" class="form-horizontal" method="POST" autocomplete="off" th:action="@{'/person'}">
				<section>
					<div class="row anything noheader">
						<div class="span6 offset3">
							<fieldset>
								<div class="control-group">
									<label for="name" class="control-label" th:text="#{person.name.label}"></label>
									<div class="controls">
										<input id="namee"  th:field="*{name}" data-required="required" type="text" data-maxlength="50"
											class="include" placeholder="Person name" /> 
									</div>
								</div>
							<!--  for date formate -->
							<div class="control-group">
								<label for="datepicker" class="control-label" th:text="#{person.birthdate.label}"></label>
								<div class="controls">
									<div class="input-append">
										<input id="datepicker"	th:field="*{dateOfBirth}" class="input-datesize include con-datepicker" type="text"
											name="datepicker"/>
											<span class="add-on"><i
											class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
							<!-- for radiobox -->
								<div class="control-group">
									<label for="groupofradios" class="control-label" th:text="#{person.sex.label}"></label>
									<div class="controls">
										<label class="radio"> <input type="radio"
											id="groupofradiosradio1"  value="male" th:field="*{sex}" class="include" />
											Male
										</label> <label class="radio"> <input type="radio"
											id="groupofradiosradio2" value="female" th:field="*{sex}" class="include" />
											Female
										</label> 
									</div>
								</div>
							<!-- Checkbox -->
								<div class="control-group">
								    <label class="control-label" for="singlecheckbox" th:text="#{person.married.label}"></label>
								    <div class="controls ">
								        <label class="checkbox">
								            <input id="singlecheckbox" type="checkbox" th:field="*{married}" value="checkvalue" class="include"/>
								        <!--     Married -->
								        </label>
								    </div>
								</div>
							<!-- Highes Degree using Select input -->
							<div class="control-group">
							    <label for="selectwithinputs" class="control-label" th:text="#{person.degree.label}" ></label>
							    <div class="controls">
							        <select th:field="*{highestDegree}" class="input-large include" id="selectwithinputs">
							            <option th:each="item : ${degrees}" th:value="${item}" th:text="${item}" />
							        </select>
							    </div>
							</div>
							<!-- TextAreal -->
							<div class="control-group">
							    <label for="textarea" class="control-label" th:text="#{person.address.label}"></label>
							    <div class="controls">
							        <textarea id="textarea" th:field="*{address}" class="input-large include"></textarea>
							    </div>
							</div>
							<!-- Search for query -->
								<div class="control-group">
									<label for="destination" class="control-label" th:text="#{person.city.label}"></label>
									<div class="controls">
										<div class="input-append">
											<input class="typeahead include" id="destinationsearch"
												type="text" data-required="required" autocomplete="off"
												placeholder="City" data-search-url="/search/destination/"
												th:attr="data-search-url=@{'/search/city/'}" /><span
												class="add-on"><i class="icon-search"></i></span>
											<input class="typeahead-val" type="hidden" th:field="*{city}" />
											<input class="typeahead-desc" type="hidden" value="" />
										</div>
									</div>
								</div>
																				
							<!-- courses -->
								<div class="control-group">
									<label for="regions" class="control-label" th:text="#{person.course.label}"></label>
									<div class="controls">
										<select id="departportlist" th:field="*{courses}"
											class="include con-multiselect" multiple="multiple">
											<option th:each="item : ${courses}" th:value="${item.key}" th:text="${item.value}" />
										</select>
									</div>
								</div>
							<!-- Time validation -->
							<div class="control-group">
							    <label for="startandenddatestart" class="control-label" th:text="#{person.trainingdate.label}"></label>
							    <div class="controls ">
							        <div class="input-append inlineappends">
							            <input id="startandenddatestart" th:field="*{trainingStartDate}" class="input-datesize include con-startdate" type="text" data-datepair="startandenddates" name="startandenddatesstart" placeholder="Required" /><span class="add-on"><i class="icon-calendar"></i></span>
							        </div>
							        <span class="add-on">to</span>
							        <div class="input-append inlineappends">
							            <input id="startandenddateend" th:field="*{trainingEndDate}" class="input-datesize include con-enddate" type="text" data-datepair="startandenddates" name="startandenddatesend" placeholder="Required" /><span class="add-on"><i class="icon-calendar"></i></span>
							        </div>
							    </div>
							</div>
							</fieldset>
						</div>
					</div>
				</section>
			</form>
		</div>

		<span th:substituteby="commons :: common-html"></span>
		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>